.main{
display: flex;
flex-direction: column;
gap: 20px;
border:1px solid whitesmoke;
}
.box1{
 width: 100px;
 height: 70px;
 background-color: red;
 display: inline-block;
transition:width 2s ;
}
.box2{
width: 100px;
 height:70px;
 background-color:blue;
 transition: width 2s;
 transition-delay:2s ;
}

.main:hover>div{
    width: 350px;
}
